<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/all.css"/>

    <title layout:title-pattern="$CONTENT_TITLE">Layout Title</title>
</head>
<body>
<div class="content-container">
    <div class="header-container">
        <div class="signin">
            <div th:if="${username != null}">
                <a th:text="${username}" href="/profile">Username</a>
                <a href="/signOut">Sign Out</a>
            </div>
            <div th:if="${username == null}">
                <a href="/registration">Register</a>
                <a href="/signIn">Sign In</a>
            </div>
        </div>
        <div class="menu">
            <a href="/">Home</a>
        </div>
    </div>

    <h1 th:text="${mainHeading}" class="main-heading">Layout Heading</h1>

    <div layout:fragment="content"></div>
</div>
</body>
</html>