<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout" th:with="mainHeading='Sign In'"
>
<head>
    <title>Simple Webapp (Sign In)</title>
</head>
<body>
<div layout:fragment="content">
    <p>
        Sign into your account.
    </p>

    <form class="form" method="post">
        <div class="input">
            <label for="username">Username</label><input id="username" name="username" />
        </div>
        <div class="input">
            <label for="password">Password</label><input id="password" name="password" type="password" />
        </div>
        <div class="input">
            <input type="submit" value="Sign In" />
        </div>
    </form>
</div>
</body>
</html>