<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/all.css">
    <script src="/webjars/webcomponentsjs/0.7.24/webcomponents-lite.min.js"></script>
    <link rel="import" href="/components/static/page-layout.html">

    <title>Simpe Webapp ({{username}})</title>
</head>
<body>
<page-layout heading="{{username}}">
    <p>
        This is your profile page. Here you can edit your account settings.
    </p>
</page-layout>
</body>
</html>